.jumbotron {
  padding-top: 6rem;
  background-color: #00008b;
  color: white;
}

#project {
  background-color: #00008b;
  color: white;
}

#team {
  background-color: white;
}

#contact {
  background-color: #00008b;
  color: white;
}
