@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Nunito', sans-serif;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

html {
  scroll-behavior: smooth;
}

#homes {
  min-height: 500px;
}

nav {
  z-index: 10;
  position: fixed;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.75rem 1.75rem;
  left: 0;
  right: 0;
}

nav .btn-github {
  display: none;
}

.title {
  font-family: 'Montserrat';
  text-align: center;
  color: #f1f1f1;
  letter-spacing: 1px;
}

.title h1 {
  color: #000;
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 6rem;
}

@media (max-width: 576px) {
  .title h1 {
    font-size: calc(25vw / 2);
    line-height: calc(28vw / 2);
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .title h1 {
    font-size: calc(16vw / 2);
    line-height: calc(18vw / 2);
  }
}

.title h1:hover {
  background-image: url('https://media.giphy.com/media/3o6ZtbBAwqZH7lGNAA/giphy.gif?cid=790b761184a166234f320069ee0fc965c56b9b93129aa7ee&rid=giphy.gif&ct=g');
  background-size: cover;
  background-position: center;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

/* Carousel */
.no-scroll {
  overflow: hidden;
}

.container-page {
  padding: 2em;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.blend-image {
  -webkit-filter: brightness(250%) grayscale(100%);
  filter: brightness(250%) grayscale(100%);
  mix-blend-mode: screen;
}

.center-image,
.card__background img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -o-object-fit: cover;
  object-fit: cover;
}

.slick-slide {
  padding: 0.6em;
}

.slick-prev::before,
.slick-next::before {
  color: #2563eb !important;
}

.card-slider {
  margin: auto;
  width: 100%;
}

.card {
  background: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 240px;
  /* width: 385px !important; */
}

.card > * {
  -webkit-transition: opacity 350ms;
  transition: opacity 350ms;
}

.card--opened > * {
  opacity: 0;
}

.card__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #2f9adc6a;
  z-index: -1;
  text-align: left;
}

.card__background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(70, 70, 70, 0.5)),
    color-stop(70%, rgba(255, 255, 255, 0))
  );
  background: linear-gradient(
    to top,
    rgba(70, 70, 70, 0.5),
    rgba(255, 255, 255, 0) 70%
  );
}

.card__category {
  text-transform: uppercase;
  color: #f1f1f1;
  border-radius: 3px;
  background: #198754;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.2em 0.5em;
}

.modal__category {
  text-transform: uppercase;
  color: #f1f1f1;
  border-radius: 3px;
  background: #198754;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.2em 0.5em;
  display: inline-block;
  margin-bottom: 5px;
}

.card__title {
  margin: 0.5em 0;
  color: #f1f1f1;
  text-shadow: 0px 0px 3px #000;
}

.modal__title {
  font-size: 1.4em;
}

.card__button {
  color: #f1f1f1;
  background-color: #337ab7;
}

.modal-wrapper,
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}

.modal {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 90vw;
  height: 90vh;
  max-width: 500px;
  background: #f1f1f1;
  border-radius: 20px;
}

.modal__scroll-area {
  height: inherit;
  overflow: auto;
  border-radius: inherit;
  position: relative;
  z-index: 1;
}

.modal__close-button {
  background: transparent;
  border: none;
  margin-bottom: auto;
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;
  z-index: 2;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.modal__close-button:hover {
  color: white;
}

.modal__header {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 300px;
  z-index: 1;
}

.modal__content {
  padding: 2em;
  color: #666;
  line-height: 1.5;
}

[data-modal-state='closed'] .modal-wrapper,
[data-modal-state='closed'] .overlay {
  pointer-events: none;
}

[data-modal-state='closed'] .modal,
[data-modal-state='closed'] .overlay {
  opacity: 0;
}

[data-modal-state='opening'] .modal__header,
[data-modal-state='closing'] .modal__header,
[data-modal-state='opening'] .modal__content,
[data-modal-state='closing'] .modal__content,
[data-modal-state='opening'] .modal__close-button,
[data-modal-state='closing'] .modal__close-button {
  opacity: 0;
}

[data-modal-state='opening'] .overlay {
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

[data-modal-state='closing'] .overlay {
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

[data-modal-state='open'] .modal__header,
[data-modal-state='open'] .modal__content {
  -webkit-transition: opacity 450ms;
  transition: opacity 450ms;
}

#about {
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

.team-card {
  -webkit-box-flex: 16%;
  -ms-flex: 16%;
  flex: 16%;
}

.team-card .team-img-container {
  margin: 0 auto;
  position: relative;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.team-card .team-img-container .team-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.08);
}

.team-card .team-img-container .team-img img {
  width: 100%;
}

.team-card .team-img-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  background: #f1f1f1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.team-card .team-body .team-name {
  font-size: 1.2rem;
}

footer {
  height: 5rem;
  margin-top: 6.25rem;
  border-radius: 1rem 1rem 0 0;
  color: #f1f1f1;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer h1 {
  font-size: 18px;
  font-weight: bolder;
  padding-top: 15px;
}

footer h1 p {
  font-size: 12px;
  padding-top: 5px;
}

@media (min-width: 1024px) {
  nav {
    padding: 0.75rem 8rem;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  nav .btn-github {
    display: block;
    margin-left: 2.5rem;
  }
  .top-navbar {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
/*# sourceMappingURL=style.css.map */
