@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  font-family: 'Nunito', sans-serif;
  transition-property: background;
  transition-duration: 0.2s;
}

@media (min-width: 1024px) {
  .top-navbar {
    display: inline-flex !important;
  }
}

#homes {
  min-height: 500px;
}

.title {
  font-family: 'Montserrat';
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
}

.title h1 {
  color: #000;
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 6rem;
}

@media (max-width: 576px) {
  .title h1 {
    font-size: calc(25vw / 2);
    line-height: calc(28vw / 2);
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .title h1 {
    font-size: calc(16vw / 2);
    line-height: calc(18vw / 2);
  }
}

.title h1:hover {
  background-image: url("https://media.giphy.com/media/3o6ZtbBAwqZH7lGNAA/giphy.gif?cid=790b761184a166234f320069ee0fc965c56b9b93129aa7ee&rid=giphy.gif&ct=g");
  background-size: cover;
  background-position: center;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
}

/* Carousel */
.no-scroll {
  overflow: hidden;
}

.container-page {
  padding: 2em;
  min-height: 100vh;
  display: flex;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.blend-image,
.card__background img {
  filter: brightness(250%) grayscale(100%);
  mix-blend-mode: screen;
}

.center-image,
.card__background img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  object-fit: cover;
}

.slick-slide {
  padding: 0.6em;
}

.card-slider {
  margin: auto;
  width: 100%;
}

.card {
  background: #fff;
  display: flex;
  padding: 2em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 240px;
  /* width: 385px !important; */
}

.card > * {
  transition: opacity 350ms;
}

.card--opened > * {
  opacity: 0;
}

.card__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #2f9adc6a;
  z-index: -1;
  text-align: left;
}

.card__background::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #fff 0, rgba(255, 255, 255, 0) 70%);
}

.card__category {
  text-transform: uppercase;
  color: #fff;
  background: #2fd4dc;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.2em 0.5em 0.25em;
}

.card__title {
  text-transform: uppercase;
  margin: 0.5em 0;
  color: #2e5f80;
}

.card__duration {
  color: #6f7070;
}

.modal-wrapper,
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-wrapper {
  display: flex;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 150ms ease;
}

.modal {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 90vw;
  height: 90vh;
  max-width: 500px;
  background: #fff;
  border-radius: 20px;
}

.modal__scroll-area {
  height: inherit;
  overflow: auto;
  border-radius: inherit;
  position: relative;
  z-index: 1;
}

.modal__close-button {
  background: transparent;
  border: none;
  margin-bottom: auto;
  color: #2e5f80;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;
  z-index: 2;
}

.modal__header {
  text-align: center;
  position: relative;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 300px;
  z-index: 1;
}

.modal__content {
  padding: 2em;
  color: #666;
  line-height: 1.5;
}

[data-modal-state='closed'] .modal-wrapper,
[data-modal-state='closed'] .overlay {
  pointer-events: none;
}

[data-modal-state='closed'] .modal,
[data-modal-state='closed'] .overlay {
  opacity: 0;
}

[data-modal-state='opening'] .modal__header,
[data-modal-state='closing'] .modal__header,
[data-modal-state='opening'] .modal__content,
[data-modal-state='closing'] .modal__content,
[data-modal-state='opening'] .modal__close-button,
[data-modal-state='closing'] .modal__close-button {
  opacity: 0;
}

[data-modal-state='opening'] .overlay {
  transition: opacity 500ms ease;
}

[data-modal-state='closing'] .overlay {
  opacity: 0;
  transition: opacity 500ms ease;
}

[data-modal-state='open'] .modal__header,
[data-modal-state='open'] .modal__content {
  transition: opacity 450ms;
}

#about {
  max-height: max-content;
}

.team-card {
  flex: 16%;
}

.team-card .team-img-container {
  margin: 0 auto;
  position: relative;
  max-width: max-content;
}

.team-card .team-img-container .team-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.08);
}

.team-card .team-img-container .team-img img {
  width: 100%;
}

.team-card .team-img-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}

.team-card .team-body .team-name {
  font-size: 1.2rem;
}

footer {
  background-color: #637fe3;
  height: 5rem;
  margin-top: 6.25rem;
  border-radius: 1rem 1rem 0 0;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer h1 {
  font-size: 18px;
  font-weight: bolder;
  padding-top: 15px;
}

footer h1 p {
  font-size: 12px;
  padding-top: 5px;
}
/*# sourceMappingURL=style.css.map */