// Breakpoint
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

* {
  font-family: 'Nunito', sans-serif;
  transition-property: background;
  transition-duration: 0.2s;
}

@media (min-width: 1024px) {
  .top-navbar {
    display: inline-flex !important;
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

#homes {
  min-height: 500px;
}

.title {
  font-family: 'Montserrat';
  text-align: center;
  color: #fff;
  letter-spacing: 1px;

  h1 {
    color: #000;
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 6rem;

    @media (max-width: $sm) {
      font-size: calc(25vw / 2);
      line-height: calc(28vw / 2);
    }

    @media (min-width: $sm) and (max-width: $xl) {
      font-size: calc(16vw / 2);
      line-height: calc(18vw / 2);
    }

    &:hover {
      background-image: url('https://media.giphy.com/media/3o6ZtbBAwqZH7lGNAA/giphy.gif?cid=790b761184a166234f320069ee0fc965c56b9b93129aa7ee&rid=giphy.gif&ct=g');
      background-size: cover;
      background-position: center;
      color: transparent;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      text-transform: uppercase;
    }
  }
}

/* Carousel */

.no-scroll {
  overflow: hidden;
}

.container-page {
  padding: 2em;
  min-height: 100vh;
  display: flex;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.blend-image {
  filter: brightness(250%) grayscale(100%);
  mix-blend-mode: screen;
}

.center-image,
.card__background img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  object-fit: cover;
}

.slick-slide {
  padding: 0.6em;
}

.slick-prev,
.slick-next {
  &::before {
    color: #000 !important;
  }
}

.card-slider {
  margin: auto;
  width: 100%;
}

.card {
  background: #fff;
  display: flex;
  padding: 2em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 240px;

  /* width: 385px !important; */

  > * {
    transition: opacity 350ms;
  }
}

.card--opened > * {
  opacity: 0;
}

.card__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #2f9adc6a;
  z-index: -1;
  text-align: left;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to top,
      rgba(70, 70, 70, 0.5),
      rgba(255, 255, 255, 0) 70%
    );
  }
}

.card__category {
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background: #198754;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.2em 0.5em;
}

.modal__category {
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background: #198754;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.2em 0.5em;
  display: inline-block;
  margin-bottom: 5px;
}

.card__title {
  margin: 0.5em 0;
  color: #fff;
  text-shadow: 0px 0px 3px #000;
}

.modal__title {
  font-size: 1.4em;
}

.card__button {
  color: #fff;
  background-color: #337ab7;
}

// .card__duration {
//   color: #6f7070;
// }

.modal-wrapper,
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-wrapper {
  display: flex;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 150ms ease;
}

.modal {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 90vw;
  height: 90vh;
  max-width: 500px;
  background: #fff;
  border-radius: 20px;
}

.modal__scroll-area {
  height: inherit;
  overflow: auto;
  border-radius: inherit;
  position: relative;
  z-index: 1;
}

.modal__close-button {
  background: transparent;
  border: none;
  margin-bottom: auto;
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  padding: 2em;
  z-index: 2;
  transition: color 0.3s ease;
}

.modal__close-button:hover {
  color: white;
}

.modal__header {
  text-align: center;
  position: relative;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 300px;
  z-index: 1;
}

.modal__content {
  padding: 2em;
  color: #666;
  line-height: 1.5;
}

[data-modal-state='closed'] {
  .modal-wrapper,
  .overlay {
    pointer-events: none;
  }

  .modal,
  .overlay {
    opacity: 0;
  }
}

[data-modal-state='opening'] .modal__header,
[data-modal-state='closing'] .modal__header,
[data-modal-state='opening'] .modal__content,
[data-modal-state='closing'] .modal__content,
[data-modal-state='opening'] .modal__close-button,
[data-modal-state='closing'] .modal__close-button {
  opacity: 0;
}

[data-modal-state='opening'] .overlay {
  transition: opacity 500ms ease;
}

[data-modal-state='closing'] .overlay {
  opacity: 0;
  transition: opacity 500ms ease;
}

[data-modal-state='open'] {
  .modal__header,
  .modal__content {
    transition: opacity 450ms;
  }
}

#about {
  max-height: max-content;
}

// Team card
@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Profile Card
.team-card {
  flex: 16%;
  .team-img-container {
    margin: 0 auto;
    position: relative;
    max-width: max-content;

    .team-img {
      @include flex-center-center();
      overflow: hidden;
      width: 5rem;
      height: 5rem;
      border-radius: 100%;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.08);

      img {
        width: 100%;
      }
    }

    a {
      @include flex-center-center();
      border-radius: 100%;
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
      background: #fff;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .team-body {
    .team-name {
      font-size: 1.2rem;
    }
  }
}

// Footer

footer {
  background-color: #637fe3;
  height: 5rem;
  margin-top: 6.25rem;
  border-radius: 1rem 1rem 0 0;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  h1 {
    font-size: 18px;
    font-weight: bolder;
    padding-top: 15px;
    p {
      font-size: 12px;
      padding-top: 5px;
    }
  }
}
